<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Panel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Manager Panel</h1>
            <a href="/manager/addReceptionist" class="btn btn-primary">Add Receptionsts</a>
            <a href="/manager/viewReceptionists" class="btn btn-primary">View Receptionsts</a>
            <a href="/manager/manageRooms" class="btn btn-primary">Manage Rooms</a>
            <a href="/login" class="btn btn-secondary">Go to Login page</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
