<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Rooms</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Manage Rooms</h1>

    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <hr/>
    <h2>Room List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Room Category</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}">Room Number</td>
            <td th:text="${room.roomCategory}">Room Category</td>
            <td th:text="${room.status}">Status</td>
            <td>
                <form th:action="@{/manager/updateRoomStatus/{roomId}(roomId=${room.id})}" method="post">
                    <select name="status" class="form-control">
                        <option th:each="status : ${T(com.example.hotel_management.model.RoomStatus).values()}"
                                th:value="${status.name()}"
                                th:text="${status.name()}"
                                th:selected="${room.status == status}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <a href="/manager/home" class="btn btn-secondary">Back</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
