<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cancel Reservation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Cancel Reservation</h1>

    <!-- Başarı mesajı -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Hata mesajı -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:action="@{/receptionist/cancelReservation}" method="post">
        <div class="form-group">
            <label for="reservationNumber">Reservation Number:</label>
            <input type="text" class="form-control" id="reservationNumber" name="reservationNumber" required />
        </div>
        <button type="submit" class="btn btn-primary">Cancel Reservation</button>
        <a href="/receptionist/home" class="btn btn-secondary">Back</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
